/****** Object:  Database [Client]    Script Date: 2026/03/25 16:51:16 ******/
CREATE DATABASE [Client]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Client', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\Client.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Client_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\Client_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Client].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Schema [IRAI]    Script Date: 2026/03/25 16:51:16 ******/
CREATE SCHEMA [IRAI]
GO
/****** Object:  Table [IRAI].[M_Client]    Script Date: 2026/03/25 16:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[M_Client](
	[client_code] [nvarchar](50) NOT NULL,
	[client_name] [nvarchar](200) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [IRAI].[M_Project]    Script Date: 2026/03/25 16:51:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[M_Project](
	[project_code] [nvarchar](50) NOT NULL,
	[project_name] [nvarchar](200) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[client_code] [nvarchar](50) NULL,
 CONSTRAINT [PK_M_Project] PRIMARY KEY CLUSTERED 
(
	[project_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [IRAI].[M_Client] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [IRAI].[M_Client] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [IRAI].[M_Client] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [IRAI].[M_Project] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [IRAI].[M_Project] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [IRAI].[M_Project] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
