/****** Object:  Database [IraiKanri]    Script Date: 2026/03/19 14:42:20 ******/
CREATE DATABASE [IraiKanri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IraiKanri', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\IraiKanri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IraiKanri_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2022\MSSQL\DATA\IraiKanri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IraiKanri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Schema [IRAI]    Script Date: 2026/03/19 14:42:20 ******/
CREATE SCHEMA [IRAI]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 2026/03/19 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[te] [nchar](10) NULL,
	[stes] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [IRAI].[M_Client]    Script Date: 2026/03/19 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[M_Client](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[client_code] [nvarchar](50) NOT NULL,
	[client_name] [nvarchar](200) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [IRAI].[M_Employee]    Script Date: 2026/03/19 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[M_Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_code] [nvarchar](20) NOT NULL,
	[employee_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](256) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [IRAI].[M_Project]    Script Date: 2026/03/19 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[M_Project](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[project_code] [nvarchar](50) NOT NULL,
	[project_name] [nvarchar](200) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [IRAI].[M_Status]    Script Date: 2026/03/19 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[M_Status](
	[status_id] [int] NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[display_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [IRAI].[T_MailLog]    Script Date: 2026/03/19 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[T_MailLog](
	[mail_log_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[mail_type] [int] NOT NULL,
	[to_email] [nvarchar](256) NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[body] [nvarchar](max) NULL,
	[sent_at] [datetime] NULL,
	[is_success] [bit] NULL,
	[error_message] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[mail_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [IRAI].[T_Request]    Script Date: 2026/03/19 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [IRAI].[T_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[requester_id] [int] NOT NULL,
	[assignee_id] [int] NOT NULL,
	[request_title] [nvarchar](200) NOT NULL,
	[request_content] [nvarchar](max) NULL,
	[deadline_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[status_id] [int] NULL,
	[response_content] [nvarchar](max) NULL,
	[is_deleted] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[updated_by] [nvarchar](100) NULL,
	[project_id] [int] NULL,
	[client_id] [int] NULL,
	[importance] [char](1) NOT NULL,
	[folder_address] [nvarchar](500) NULL,
	[requester_name] [nvarchar](100) NULL,
	[assignee_name] [nvarchar](100) NULL,
	[requester_email] [nvarchar](256) NULL,
	[assignee_email] [nvarchar](256) NULL,
	[client_code] [nvarchar](50) NULL,
	[client_name] [nvarchar](200) NULL,
	[project_code] [nvarchar](50) NULL,
	[project_name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Client_Code]    Script Date: 2026/03/19 14:42:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Client_Code] ON [IRAI].[M_Client]
(
	[client_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employee_Code]    Script Date: 2026/03/19 14:42:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employee_Code] ON [IRAI].[M_Employee]
(
	[employee_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Project_ClientId]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Project_ClientId] ON [IRAI].[M_Project]
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Project_Code]    Script Date: 2026/03/19 14:42:20 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Project_Code] ON [IRAI].[M_Project]
(
	[project_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Assignee]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Request_Assignee] ON [IRAI].[T_Request]
(
	[assignee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_ClientId]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Request_ClientId] ON [IRAI].[T_Request]
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Deadline]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Request_Deadline] ON [IRAI].[T_Request]
(
	[deadline_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_IsDeleted]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Request_IsDeleted] ON [IRAI].[T_Request]
(
	[is_deleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_ProjectId]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Request_ProjectId] ON [IRAI].[T_Request]
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Requester]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Request_Requester] ON [IRAI].[T_Request]
(
	[requester_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_Status]    Script Date: 2026/03/19 14:42:20 ******/
CREATE NONCLUSTERED INDEX [IX_Request_Status] ON [IRAI].[T_Request]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [IRAI].[M_Client] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [IRAI].[M_Client] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [IRAI].[M_Client] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [IRAI].[M_Employee] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [IRAI].[M_Employee] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [IRAI].[M_Employee] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [IRAI].[M_Project] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [IRAI].[M_Project] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [IRAI].[M_Project] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [IRAI].[M_Status] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [IRAI].[T_MailLog] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [IRAI].[T_MailLog] ADD  DEFAULT ((1)) FOR [is_success]
GO
ALTER TABLE [IRAI].[T_Request] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [IRAI].[T_Request] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [IRAI].[T_Request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [IRAI].[T_Request] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [IRAI].[T_Request] ADD  DEFAULT ('B') FOR [importance]
GO
ALTER TABLE [IRAI].[M_Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Client] FOREIGN KEY([client_id])
REFERENCES [IRAI].[M_Client] ([client_id])
GO
ALTER TABLE [IRAI].[M_Project] CHECK CONSTRAINT [FK_Project_Client]
GO
ALTER TABLE [IRAI].[T_Request]  WITH CHECK ADD  CONSTRAINT [CK_Request_Importance] CHECK  (([importance]='C' OR [importance]='B' OR [importance]='A'))
GO
ALTER TABLE [IRAI].[T_Request] CHECK CONSTRAINT [CK_Request_Importance]
GO
