/****** Object:  Table [dbo].[M_Client]    Script Date: 2026/03/03 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Client](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[client_code] [nvarchar](50) NOT NULL,
	[client_name] [nvarchar](200) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_Employee]    Script Date: 2026/03/03 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_code] [nvarchar](20) NOT NULL,
	[employee_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](256) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_Project]    Script Date: 2026/03/03 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Project](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[project_code] [nvarchar](50) NOT NULL,
	[project_name] [nvarchar](200) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_Status]    Script Date: 2026/03/03 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Status](
	[status_id] [int] NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[display_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_MailLog]    Script Date: 2026/03/03 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_MailLog](
	[mail_log_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[mail_type] [int] NOT NULL,
	[to_email] [nvarchar](256) NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[body] [nvarchar](max) NULL,
	[sent_at] [datetime] NULL,
	[is_success] [bit] NULL,
	[error_message] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[mail_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Request]    Script Date: 2026/03/03 21:22:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[requester_id] [int] NOT NULL,
	[assignee_id] [int] NOT NULL,
	[request_title] [nvarchar](200) NOT NULL,
	[request_content] [nvarchar](max) NULL,
	[deadline_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[status_id] [int] NULL,
	[response_content] [nvarchar](max) NULL,
	[is_deleted] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[updated_by] [nvarchar](100) NULL,
	[project_id] [int] NULL,
	[client_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_Client] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[M_Client] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[M_Client] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[M_Employee] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[M_Employee] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[M_Employee] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[M_Project] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[M_Project] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[M_Project] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[M_Status] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[T_MailLog] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[T_MailLog] ADD  DEFAULT ((1)) FOR [is_success]
GO
ALTER TABLE [dbo].[T_Request] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[T_Request] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[T_Request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[T_Request] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[M_Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Client] FOREIGN KEY([client_id])
REFERENCES [dbo].[M_Client] ([client_id])
GO
ALTER TABLE [dbo].[M_Project] CHECK CONSTRAINT [FK_Project_Client]
GO
ALTER TABLE [dbo].[T_MailLog]  WITH CHECK ADD  CONSTRAINT [FK_MailLog_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[T_Request] ([request_id])
GO
ALTER TABLE [dbo].[T_MailLog] CHECK CONSTRAINT [FK_MailLog_Request]
GO
ALTER TABLE [dbo].[T_Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Assignee] FOREIGN KEY([assignee_id])
REFERENCES [dbo].[M_Employee] ([employee_id])
GO
ALTER TABLE [dbo].[T_Request] CHECK CONSTRAINT [FK_Request_Assignee]
GO
ALTER TABLE [dbo].[T_Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Client] FOREIGN KEY([client_id])
REFERENCES [dbo].[M_Client] ([client_id])
GO
ALTER TABLE [dbo].[T_Request] CHECK CONSTRAINT [FK_Request_Client]
GO
ALTER TABLE [dbo].[T_Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[M_Project] ([project_id])
GO
ALTER TABLE [dbo].[T_Request] CHECK CONSTRAINT [FK_Request_Project]
GO
ALTER TABLE [dbo].[T_Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Requester] FOREIGN KEY([requester_id])
REFERENCES [dbo].[M_Employee] ([employee_id])
GO
ALTER TABLE [dbo].[T_Request] CHECK CONSTRAINT [FK_Request_Requester]
GO
ALTER TABLE [dbo].[T_Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Status] FOREIGN KEY([status_id])
REFERENCES [dbo].[M_Status] ([status_id])
GO
ALTER TABLE [dbo].[T_Request] CHECK CONSTRAINT [FK_Request_Status]
GO
